{% extends 'base.html' %}
{% load static %}
{% block title %} home {% endblock %}
{% block css %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900');">
  <div class="text-center my-5">
    <img class="img-fluid rounded-circle mb-4" src="{% static 'images/image3.jpeg' %}" alt="..." width="200px" />
    <h1 class="text-white fs-3 fw-bolder">Welcome to H Album Store !!</h1>
    <p class="text-white-50 mb-0">Several albums are here</p>
  </div>
</header>
<!-- Content section-->
<section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>This is the album store :)</h2>
        <p class="lead">
          There are various albums. K-pop, pop, classic, etc. There are many!
          Take a look ~
        </p>
        <p class="mb-0">What kind of singer do you like?</p>
      </div>
    </div>
  </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('../../static/images/albums.png'); opacity: 0.8">
  <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
  <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>Buy an album!</h2>
        <p class="lead">Buy your favorite album right away!</p>
        <p class="mb-0">
          Several payment methods are available. Take what you want ~
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}