{% extends 'base.html' %}
{% load static %}

{% block title %} home {% endblock %}
{% block css %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
{% endblock%}

{% block content %}
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="
        background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900');
      ">
  <div class="text-center my-5">
    <img class="img-fluid rounded-circle mb-4" src="{% static 'images/image3.jpeg' %}" alt="..." width="200px" />
    <h1 class="text-white fs-3 fw-bolder">Welcome to H Album Store !!</h1>
    <p class="text-white-50 mb-0">Several albums are here</p>
  </div>
</header>
<!-- Content section-->
<section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>여기는 앨범 스토어 입니다~</h2>
        <p class="lead">
          여러가지 앨범들이 있습니다. k-pop, pop, 클래식 등 가리지 않고 많이 있습니다!
          구경하고 가세요~
        </p>
        <p class="mb-0">
          어떤 가수를 좋아하시나요?
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="
        background-image: url('../../static/images/albums.png');
        opacity : 0.8;
      ">
  <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
  <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>앨범을 구매하세요 !</h2>
        <p class="lead">
          마음에 드는 앨범을 바로 구매하세요 !
        </p>
        <p class="mb-0">
          여러 결제 수단이 사용 가능합니다. 원하시는 걸 가져가세요~
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}