{% extends 'base.html' %}
{% load static %}

{% block title %} delete album {% endblock %}
{% block css %}
<link href="{% static 'css/styles2.css' %}" rel="stylesheet" />
{% endblock%}

{% block content %}
<header class="py-5">
    <div class="container px-lg-5">
        <h1>ALBUM DELETE</h1>
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <form action="" method="POST"> {% csrf_token %}
                <p>Once deleted, data cannot be recovered.</p>
                <p>Do you still want to delete it?</p>
                <p>Album title to delete : {{ album.title }}</p>
                <a href="{% url 'lists' %}">RETURN</a>
                <input type="submit" value="DELETE">
            </form>
            <div>
                {% include 'list_card.html' %}
            </div>
        </div>
        <a href="{% url 'lists' %}">RETURN</a>
    </div>
</header>


{% endblock %}