{% load static %}

<div class="col mb-5">
    <div class="card h-100">
        {% if album.image %}
        <img src="{{ album.image.url }}" class="card-img-top" />
        {% else %}
        <img src="http://via.placeholder.com/50x50" alt="" />
        {% endif %}

        <div class="card-body p-4">
            <div class="text-center">
                <h5 class="fw-bolder">{{ album.title }}</h2>
                    <p class="mb-0">
                        Singer : {{ album.singer }}
                    </p>
                    <div class="d-flex justify-content-center small text-warning mb-2">
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                    </div>
                    {% if detail %}
                    Content : {{ album.content }}
                    {% endif %}
                    <div>Writer : {{ album.writer }}</div>
            </div>
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                {% if not detail %}
                <a class="btn btn-outline-dark mt-auto" href="{% url 'list-detail' album.id %}">자세히</a>
                {% endif %}
            </div>
        </div>

        <div class="text-center">
            {% if request.user == album.writer %}
            <a href="{% url 'list-update' album.id %}">UPDATE</a> |
            <a href="{% url 'list-delete' album.id %}">DELETE</a>
            {% endif %}
        </div>
    </div>
</div>