{% extends 'base.html' %}
{% load static %}
{% block title %} album lists {% endblock %}
{% block css %}
<link href="{% static 'css/styles2.css' %}" rel="stylesheet" />
{% endblock%}
{% block content %}
<!-- Header-->
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Album Lists</h1>
                <p class="fs-4">새로운 앨범 추가 하기</p>
                <a class="btn btn-primary btn-lg" href="{% url 'list-create' %}">create</a>
            </div>
        </div>
    </div>
</header>
<!-- Page Content-->
<section class="pt-4">
    <div class="container px-lg-5">
        <div class="row gx-lg-5">
            <!-- Page Features-->
            {% for album in object_list %}
            {% include 'list_card.html' with detail=False %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}