{% extends 'base.html' %} {% load static %} {% block title %} detail {% endblock %} {% block css %}
<link href="{% static 'css/styles2.css' %}" rel="stylesheet" />
{% endblock%} {% block content %}
<header class="py-5">
    <div class="container px-lg-5">
        <h1>Album's Detail</h1>
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div>{% include 'list_card.html' with detail=True %}</div>
            <div>
                <h4>Comments</h4>
                {% if user.is_authenticated %}
                <form method="POST" action="{% url 'create_msg' album.id %}">
                    {% csrf_token %} {{ message_form }}
                    <input type="submit" />
                </form>
                <hr />
                {% for message in album.message_set.all %}
                <p>{{ message }}</p>
                <p>Writer : {{ message.writer }}</p>
                {% if request.user == message.writer %}
                <a href="{% url 'update_msg' album.id message.id %}">UPDATE</a>
                <a href="{% url 'delete_msg' album.id message.id %}">DELETE</a>
                {% endif %}
                <hr />
                {% endfor %} {% else %} Please log in and use it! {% endif %}
            </div>
        </div>
        <a href="{% url 'lists' %}">RETURN</a>
    </div>
</header>
{% endblock %}